<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <localRepository>/home/alambike/proxectos/USC/test_mvn/m2</localRepository>

  <servers>
    <server>
      <id>webdav-usc</id>
      <username>test</username>
      <password>test</password>
    </server>
  </servers>
</settings>
